*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
}
.links{
    display: flex;
    flex-direction: row;
    width: 7.75rem;
    justify-content: space-between;
    list-style-type: none;
}
.container-content{
    display: flex;
    justify-content: space-between;
    margin: 1.875rem 10.9375rem;
    align-items: center;
}
.title{
    color: #115C5B;
    width: 30%;
    font-weight: 400;
    font-size: 1.73rem;
}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16.25rem;
    margin-right: 16.25rem;
}
button{
    height: 8%;
    width: 100%;
    display: flex;
    margin-top: 50%;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: #115C5B;
    color: #FFF;
    border: none;
}
.svg-top{
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
.svg-bottom{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
}